<div id="mobile-controls" class="auto-style-9c7663">
  <div class="control-btn holdable" data-cmd="\x1b">Esc</div>
  <div id="shift-toggle" class="control-btn">Shift</div>
  <div id="ctrl-toggle" class="control-btn">Ctrl</div>
  <div id="alt-toggle" class="control-btn">Alt</div>
  <div id="super-toggle" class="control-btn">Super</div>
  <div class="control-btn holdable" data-cmd="\t">Tab</div>
  <div class="control-btn-group">
    <div class="control-btn holdable left" data-func-adjust="-1">A-</div>
    <div class="control-btn holdable right" data-func-adjust="1">A+</div>
  </div>
  <div class="control-btn holdable" data-cmd="\x1b[H">Home</div>
  <div class="control-btn holdable" data-cmd="\x1b[F">End</div>
  <div class="control-btn holdable" data-cmd="\x1b[D">◀</div>
  <div class="control-btn holdable" data-cmd="\x1b[A">▲</div>
  <div class="control-btn holdable" data-cmd="\x1b[B">▼</div>
  <div class="control-btn holdable" data-cmd="\x1b[C">▶</div>
</div>
