{% include 'partials/modals/file_transfer_modal.html' %} {% include
'partials/modals/settings_modal.html' %} {% include
'partials/modals/task_monitor_modal.html' %} {% include
'partials/modals/share_modal.html' %} {% include
'partials/modals/preview_modal.html' %} {% include
'partials/modals/quick_add_key_modal.html' %} {% include
'partials/modals/manage_prompts_modal.html' %} {% include
'partials/modals/add_prompt_modal.html' %} {% include
'partials/modals/connection_issue_modal.html' %} {% include
'partials/modals/automation_modal.html' %}
