<div id="file-transfer-modal" class="modal">
  <div class="modal-content">
    <span data-onclick="closeFileTransfer()" class="auto-style-6c8878"
      >&times;</span
    >
    <h2 class="auto-style-b8f7c9">File Transfer</h2>
    <div class="auto-style-a774ed">
      <h4 class="auto-style-aecc05">Upload File to Workspace</h4>
      <input type="file" id="workspace-upload-file" class="auto-style-cef0b5" />
      <button
        class="primary auto-style-be70d9"
        data-onclick="uploadWorkspaceFile()"
      >
        Upload File
      </button>
    </div>
    <div class="auto-style-7ccb37">
      <h4 class="auto-style-aecc05">Download File from Workspace</h4>
      <div class="auto-style-4277a1">
        <input
          type="text"
          id="workspace-download-filename"
          placeholder="Filename"
          class="auto-style-b9ddb9"
        />
        <div
          class="autocomplete-dropdown auto-style-9c7663"
          id="autocomplete-results"
        ></div>
      </div>
      <button
        class="primary auto-style-be70d9"
        data-onclick="downloadWorkspaceFile()"
      >
        Download File
      </button>
    </div>
  </div>
</div>
